<h1>
  <%-title%>
</h1>

<div id="posts">
  <% posts.forEach(function(post){ %>
  <div class="post">
    <div class="title">
      <a href="/blog/<%-post.RowKey%>">
        <%-post.title%>
      </a>
    </div>

    <% if (post.created_at) {%>
    <div class="created_at">
      Posted on: <%-post.created_at%>
    </div>
    <% }%>

    <div class="body">
      <p>
        <%-post.body%>
      </p>
    </div>

    <a id="deletePost" href="/blog/delete/<%-post.RowKey%>">Delete</a>
  </div>
  <% }) %>

  <a id="newPost" href="/blog/new">New blog post</a>
</div>